service: blob-images-api

# Create an optimized package for our functions
package:
  individually: true

plugins:
  - serverless-bundle # Package our functions with Webpack
  - serverless-offline
  - serverless-dotenv-plugin # Load .env as environment variables

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: eu-west-1

  environment:
    mailBucket: blob-images-email
    webmaster: ${file(./serverlessDomainConfig.js):webmaster.${self:provider.stage}}
    stage: ${self:provider.stage}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - ses:SendEmail
        - ses:SendRawEmail
        - ses:SendTemplatedEmail
        - ses:SendBulkTemplatedEmail
      Resource: "arn:aws:ses:eu-west-1:*:*"
    - Effect: Allow
      Action:
        - s3:GetObject
      Resource: "arn:aws:s3:::*"

functions:
  incomingMailStream:
    handler: handlersMail/incoming.main